<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::cuntent(~{::section},'New Contact')">
<head>
    <meta charset="UTF-8">
    <title>New Contact</title>
</head>
<body>

<section>
    Contact page data..Forfeited you engrossed but sometimes explained.
    Another as studied it to evident. Merry sense given he be arise.
    Conduct at an replied removal an amongst.
    Remaining determine few her two cordially admitting old.
    Sometimes strangers his ourselves her depending you boy.
    Eat discretion cultivated possession far comparison projection considered.
    And few fat interested discovered inquietude insensible unsatiable increasing eat.
</section>



</body>
</html>